<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="swtorRGB.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <swtorRGB.My.MySettings>
            <setting name="HyperionPort" serializeAs="String">
                <value>19444</value>
            </setting>
            <setting name="ColorNoFight" serializeAs="String">
                <value>0,255,0</value>
            </setting>
            <setting name="LogFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="HyperionIP" serializeAs="String">
                <value />
            </setting>
            <setting name="HyperionPriority" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="HyperionEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColorFight" serializeAs="String">
                <value>255,0,0</value>
            </setting>
            <setting name="RazerChromaEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RazerChromaLink" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RazerChromaMousepad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RazerChromaMouse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RazerKeypadColor1" serializeAs="String">
                <value />
            </setting>
            <setting name="RazerKeypadColor2" serializeAs="String">
                <value />
            </setting>
            <setting name="RazerKeypadColor3" serializeAs="String">
                <value />
            </setting>
            <setting name="RazerKeypadColor4" serializeAs="String">
                <value />
            </setting>
            <setting name="RazerKeypadColor5" serializeAs="String">
                <value />
            </setting>
            <setting name="RazerKeypadColor6" serializeAs="String">
                <value />
            </setting>
            <setting name="RazerKeypadColor7" serializeAs="String">
                <value />
            </setting>
            <setting name="RazerKeypadColor8" serializeAs="String">
                <value />
            </setting>
            <setting name="RazerKeypadColor9" serializeAs="String">
                <value />
            </setting>
            <setting name="RazerKeypadColor10" serializeAs="String">
                <value />
            </setting>
            <setting name="RazerKeypadColor11" serializeAs="String">
                <value />
            </setting>
            <setting name="RazerKeypadColor12" serializeAs="String">
                <value />
            </setting>
            <setting name="RazerKeypadColor13" serializeAs="String">
                <value />
            </setting>
            <setting name="RazerKeypadColor14" serializeAs="String">
                <value />
            </setting>
            <setting name="RazerKeypadColor15" serializeAs="String">
                <value />
            </setting>
            <setting name="RazerKeypadColor16" serializeAs="String">
                <value />
            </setting>
            <setting name="RazerKeypadColor17" serializeAs="String">
                <value />
            </setting>
            <setting name="RazerKeypadColor18" serializeAs="String">
                <value />
            </setting>
            <setting name="RazerKeypadColor19" serializeAs="String">
                <value />
            </setting>
            <setting name="RazerKeypadColor20" serializeAs="String">
                <value />
            </setting>
            <setting name="RazerChromaHeadset" serializeAs="String">
                <value>False</value>
            </setting>
        </swtorRGB.My.MySettings>
    </userSettings>
</configuration>